# Node modules
node_modules/

# Expo
.expo/
.expo-shared/

# VS Code / Codespaces
.vscode/
.devcontainer/

# macOS
.DS_Store

# Env variables
.env
.env.*

# Build outputs
dist/
web-build/
android/
ios/
*.tar.gz

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
expo-debug.log
